{% extends "layouts/system_base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Permission Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item">System Manage</li>
            <li class="breadcrumb-item active">Permission</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Permission Manage</h5>
            <p>사용자에게 부여할 권한을 검색, 생성, 수정 및 삭제할 수 있습니다.</p>
            <div>
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_create_menu" onclick="clearCreationModal();">Create Permission</button>
            </div>
          </div>
        </div>
        <div class="card" >
          <div class="card-header">
            <b>상세 검색</b>
          </div>
          <div class="card-body">
            <div class="row">
                <form id="search-form" class="p-2" method="get" action="">
                    <div class="row mb-2">
                      <label for="item" class="col-sm-2 col-form-label">검색 분류</label>
                      <div class="col-sm-8">
                          <div class="input-group">                   
                            <select class="form-select" id="search_type" name="search_type">
                              {% if search_type == 'name' %}
                              <option value="name" selected>권한 이름</option>
                              {% else %}
                              <option value="name">권한 이름</option>
                              {% endif %}
                              {% if search_type == 'codename' %}
                              <option value="codename" selected>코드</option>
                              {% else %}
                              <option value="codename">코드</option>
                              {% endif %}
                            </select>
                          <input class="form-control" type="text" id="search_keyword" name="search_keyword" placeholder="Search Keword" value="{{search_keyword}}" style="width:50%">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="text-center">
                          <button type="submit" id="btn-search" class="btn btn-primary">검색</button>
                          <a id="btn-initial" class="btn btn-outline-primary" href="{% url 'system_manage:permission_manage' %}">초기화</a>
                      </div>
                    </div>
                  </form>
            </div>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-auto">
                  <h5 class="card-title">권한 목록</h5>
                </div>
            </div>
            <table class='table table-hover' id='dataTable' width='100%' cellspacing='0'>
              <thead>
              <tr>
                <th class='col-md-1'>권한 ID</th>
                <th class='col-md-1'>권한 이름</th>
                <th class='col-md-1'>Code</th>
                <th class='col-md-1'>Access Type</th>
                <th scope='col' class='col-md-2'></th>
              </tr>
              </thead>
              <tbody>
              {% if page_obj %}
              {% for i in page_obj %}
              <tr id='row{{i.id}}'>
                <td id='permId{{i.id}}' name='id' data-value='{{ i.id }}'>{{ i.id }}</td>
                <td id='permName{{i.id}}'name='name' data-value='{{ i.name }}'>{{ i.name }}</td>
                <td id='permCodename{{i.id}}' name='codename' data-value='{{ i.codename }}'>{{ i.codename }}</td>
                <td id='permType{{i.id}}' name='content_type_id' data-value='{{ i.content_type_id }}'>{{ i.content_type.app_label}}</td>
                <td align='right'>
                  <button type="button" class='btn btn-warning' data-bs-toggle="modal" data-bs-target="#modal_update_menu" onclick="clearUpdateModal('{{i.id}}');">수정</button>
                  <button type="button" id='btn_mode{{ i.id }}' class='btn btn-danger' onclick="deleteMenu('{{i.id}}');">삭제</button>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan='5'>생성된 메뉴(권한)가 없습니다.</td>
              </tr>
              {% endif %}
              </tbody>
            </table>
            {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>
</main>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_create_menu" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">새 메뉴 생성</h4>
              <button aria-hidden="true" data-bs-dismiss="modal" class="close btn" type="button">&times;</button>
          </div>
          <div class="modal-body" align='right'>
              <input type="text" class="form-control" id="name" placeholder="새 메뉴(권한) 이름"/>
              <br>
              <input type="text" class="form-control" id="codename" placeholder="Code" oninput="updateUrlText(this, 'create_url_alerter');">
                  <div id='create_url_alerter'><i class="fa" aria-hidden="true" ></i>접근 권한을 설정할 Code를 입력하세요.</div>
              </input>
              <br><br>
              <button type="button" data-dismiss="modal" class="btn btn-success" onclick="createMenu();">생성</button>
              
              <span id="error_msg" style="margin-left:20px;color:#FF6600;"></span>
          </div>
      </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_update_menu" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">메뉴 수정</h4>
              <button aria-hidden="true" data-bs-dismiss="modal" class="close btn" type="button">&times;</button>
          </div>
          <div class="modal-body" align='right'>
              <input type="hidden" class="form-control" id="id_update" />
              <input type="text" class="form-control" id="name_update" placeholder="메뉴(권한) 이름"/>
              <br>
              <input type="text" class="form-control" id="codename_update" placeholder="Code" oninput="updateUrlText(this, 'update_url_alerter');">
                  <div id='update_url_alerter'><i class="fa" aria-hidden="true" ></i>접근 권한을 설정할 Code를 입력하세요.</div>
              </input>
              <br><br>
              <button type="button" data-dismiss="modal" class="btn btn-success" onclick="updateMenu();">수정</button>
              
              <span id="update_error_msg" style="margin-left:20px;color:#FF6600;"></span>
          </div>
      </div>
  </div>
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/pagination/script_pagination.js' %}"></script>
<script src="{% static 'system/js/system_manage/script_permission_manage.js' %}"></script>
{% endblock javascripts %}