{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %}
  <title>Happy Song</title>
  {% endblock %}

  <meta content="" name="description">
  <meta content="" name="keywords">
  {% block meta %}{% endblock %}

  <!-- Favicons -->
  <link href="{% static 'website/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'website/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet">
  {% block stylesheets %}{% endblock stylesheets %}

  <!-- =======================================================
  * Template Name: Vesperr - v4.3.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

{% csrf_token %}
<body class="d-flex flex-column min-vh-100">
    {% block body %}
        {% block header %}
          {% include 'includes/website/header.html' %}
        {% endblock %}

        {% block main %}

        {% endblock %}

        {% include 'includes/website/footer.html' %}
    {% endblock %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'website/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js' %}"></script>
  <script src="{% static 'js/authentication/jwt.js' %}"></script>
  
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>